
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Your CSS file or inline styles */
.ratio-container {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Adjust the percentage based on your desired aspect ratio */
  overflow: hidden;
}

.ratio-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: container; /* Ensure the image covers the container */
}
.logo-top{
  width: 5vh;
  transform: rotate(-40deg);
}
.nav-font-brand{
  font-family: sans-serif;
  
}

